.Patients_section {
    padding-top: 24px;

    h1 {
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: #fff;
        margin: 0;
    }

    .search-input {
        border-radius: 10px;
        border: 1px solid #3C4254;
        background: transparent;
        padding: 12px;
        height: 42px;
        text-indent: 27px;
        background-color: #1E1F25;
    }

    .export-button {
        border-radius: 10px;
        border: 1px solid #0ACEEC;
        height: 42px;
        width: 100%;
        color: #0ACEEC;

        &:hover {
            background-color: #0ACEEC;
            color: #1E1F25;
        }
    }

    .search-img {
        position: absolute;
        top: 12px;
        left: 12px;
    }

    .table-margin {
        padding-top: 38px;
    }

    .status_dropdown {
        button {
            border-radius: 10px;
            padding: 8px 12px;
            background: #1E1F25;
            border-color: #3C4254;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: left;
            width: 100%;

            &:focus {
                box-shadow: none;
                background-color: #1E1F25;
                border-color: #3C4254;
            }

            img {
                float: right;
            }
        }

        .dropdown-toggle {
            &::after {
                display: none;
            }
        }

        span {
            color: #B2B9CD;
        }
    }

}