.Login_page {
    background-color: #000;
    background-image: url(../../assests/images/login/login-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    padding-bottom: 30px;

    img {
        width: 327px;
        height: 340px;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
        font-family: Pirulen;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 38px;
        color: #fff;
    }

    p {
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: #B2B9CD;
    }

    .form-label {
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: #B2B9CD;
    }
    label{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: #FFFFFF;
        font-family: Inter;
    }

    input {
        border: 1px solid #B2B9CD;
        background: #000;
        box-shadow: 0px 1px 2px 0px rgb(16 24 40 / 5%);
        color: #FFFFFF;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-2-Step Verification{
            background: #000;
            box-shadow: none;
        }

        &::placeholder {
            color: #FFFFFF;
        }
    }
    button{
        border-radius: 10px;
        background: #0ACEEC;
        font-family: Lato;
        font-size: 14px;
        color: #000;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 100%;
        height: 42px;
        padding: 11px 10px;
        margin: 0 auto;
        text-align: center;
        &:hover{
            background: #0ACEEC;
        }
    }
    .verification_code{
        margin: 42px 0px 24px 0px;
        gap: 12px;
        input{
            border-radius: 8px;
            border: 2px solid #0ACEEC;
            background: #000;
            height: 80px;
            width: 80px;
            align-items: center;
            color: #0ACEEC;
            text-align: center;
            font-family: Pirulen;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 75px;
            letter-spacing: -0.64px;
            padding: 3px;
        }
    }
    .verification_page{
        max-width: 565px;
        margin: 0 auto;
    }
}