h1 {
  font-family: Lato, Sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  margin: 0;
}

.support {
  color: #0aceec !important;
}
.bottomSpace {
  margin-bottom: 30px;
}
.customloader {
  margin: 20px auto 0px !important;
  display: block !important;
}
.formBox {
  padding: 40px 80px;
  background: #1e1f25;
  border-radius: 20px;
  margin-top: 25px;

  p button {
    margin: 0px;
    width: 140px;
  }
  p {
    margin-bottom: 25px;
  }

  h5 {
    font-family: Lato, Sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 15px;
  }
  input {
    width: 100%;
  }

  .addIcon {
    position: absolute;
    top: 12px;
    right: 12px;
  }
  .closeicon {
    position: absolute;
    top: 15px;
    right: 12px;
  }
  .searchItem {
    border-top: 1px solid #4d4a5b;
    margin: 20px 30px 0px;

    max-height: 200px !important;
    overflow-y: auto !important;

    p {
      font-size: 16px;
      color: #b2b9cd;
      padding: 10px 0px;
      margin: 0px;
      line-height: 30px;

      span {
        display: block;
      }
    }
  }

  button {
    border-radius: 10px;
    background: #0aceec;
    font-family: Lato, Sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #000000;
    width: 195px;
    padding: 11px 10px;
    border: none;
    display: block;
    margin: 50px auto 0px;
    height: 45px;
  }
  td.price {
    color: #30e0a1;
  }
}

.errorMessage {
  color: red;
  text-align: center;
  font-size: 14px;
  margin-bottom: 1rem;
}

.curserPointer {
  cursor: pointer;
}


.tableArea{
  width: 100%;
  overflow: auto;
  height: 450px;
}