
.Sidebar_menu.Scroll {
  height: calc(100vh - 50px) !important;
}
.Sidebar_menu {
  border-radius: 20px;
  background: #1e1f25;
  // width: 249px;
  width: 100%;
  height: 93vh;
  position: relative;
  text-align: left;
  // padding-bottom: 50px;
  .logo-border {
    //border-bottom: 1px solid #282C38;
    padding: 25px 20px;
    border-bottom: 1px solid #282c38;
    margin-bottom: 28px;
  }

  .collapseSideBar{
    text-align: center;
  }

  .BottomMenu {
    position: relative;
    width: 100%;
    bottom: -86px;
    ul {
      width: 100%;
    }
  }

  p {
    font-family: Lato, Sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    margin: 0;
    color: #b2b9cd;
    padding: 0px 0px 18px 30px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    .active_menu {
      background: #2d2f36;
      color: #fff;
      .image-first {
        display: none;
      }
      .image-hover {
        display: inline-block !important;
      }
    }
    li {
      color: #b2b9cd;
      margin: 0px 5px 10px;
      padding: 13px 15px;
      border-radius: 15px;
      cursor: pointer;

      &:hover {
        background: #2d2f36;
        color: #fff;
        .image-first {
          display: none;
        }
        .image-hover {
          display: inline-block !important;
        }
      }
      span {
        cursor: pointer;
        &:last-child {
          padding-left: 15px;
          
        }
      }
    }
    .collapsedLi{
      padding-right: 15px;
    }
  }
}
